<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

	<display-name>Servlet Filter Demo</display-name>

	<!-- LISTENER CONFIG - START -->
	<listener>
		<listener-class>com.examples.java.servlet.listener.ApplicationListener</listener-class>		
	</listener>
	
	<listener>
		<listener-class>com.examples.java.servlet.listener.SessionListener</listener-class>
	</listener>
	
	<!-- LISTENER CONFIG - END -->

	<!-- SERVLET CONFIG - START -->
	<servlet>
		<servlet-name>GreetingServlet</servlet-name>
		<servlet-class>com.examples.java.servlet.GreetingServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GreetingServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<!-- SERVLET CONFIG - END -->  
	
	<!-- SESSION TIMEOUT CONFIG - START -->
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	<!-- SESSION TIMEOUT CONFIG - END -->	
</web-app>